* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

@-webkit-keyframes heart-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heart-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
nav {
  height: 60px;
  padding: 0.63rem 1.5rem;
  background-image: linear-gradient(to right, #5b79a2 0%, #2e4469 100%);
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav_menu {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 240px;
  align-items: center;
}
nav .nav_menu span {
  color: white;
  text-transform: uppercase;
}
nav .nav_menu span.start {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 50px;
}
nav .nav_menu span.start:hover {
  background-color: white;
  color: #00b2ee;
}
nav .nav_menu .search {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
}
nav .nav_menu .search .search_icon {
  filter: invert(1);
  width: 20px;
}
nav .home:hover::after {
  content: none;
  height: 0;
}
nav .site_logo {
  width: 160px;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  padding-left: 1rem;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 1rem;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
nav a:hover::after {
  border-radius: 0.934rem;
  bottom: -19px;
  content: "";
  height: 4px;
  left: 20%;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.3s;
  width: 80%;
  background-color: white;
}
nav a.larabits::after {
  background: linear-gradient(90deg, #21c8f6 64%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 68%, #21c8f6 0, #21c8f6 76%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 80%, #21c8f6 0, #21c8f6 88%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 92%, #21c8f6 0, #21c8f6);
  border-radius: 0;
  box-shadow: 0 0 6px 0 rgba(35, 201, 247, 0.43);
}
nav a.larabits span {
  padding: 0.1rem 0.3rem;
  font-size: 8px;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  top: -7px;
  color: black;
  text-transform: none;
}

.footer_wrap {
  height: 700px;
  background-image: radial-gradient(circle at 1% 1%, #328bf2, #1644ad);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  position: relative;
}
.footer_wrap .footer_image {
  background-image: url("../img/footer-gang.svg");
  position: relative;
  margin-left: 600px;
  height: 700px;
  background-repeat: no-repeat;
}
.footer_wrap .footer_image .drop {
  width: 180px;
  height: 190px;
  margin-left: -240px;
  position: relative;
}
.footer_wrap .text_wrap {
  text-align: center;
  color: white;
  width: 700px;
  margin: auto;
  position: absolute;
  top: 0;
  margin-left: 25rem;
}
.footer_wrap .text_wrap h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  letter-spacing: -0.09rem;
  margin-top: 80px;
}
.footer_wrap .text_wrap .mail {
  margin-top: 50px;
}
.footer_wrap .text_wrap .mail input {
  font-family: "Poppins", sans-serif;
  width: 350px;
  border-radius: 20px;
  border: none;
  padding: 0.7rem;
  position: relative;
  margin-left: -5rem;
}
.footer_wrap .text_wrap .mail button {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  padding: 0.7rem;
  border-radius: 20px;
  border: none;
  width: 130px;
  color: white;
  background-color: #3b82f6;
  position: absolute;
  margin-left: -50px;
  font-weight: 600;
}
.footer_wrap .cont_footer {
  width: 100%;
  position: absolute;
  height: 300px;
  padding-left: 160px;
  padding-right: 150px;
  /* background-color: rgb(255 0 0); */
  top: 320px;
  display: flex;
  justify-content: center;
}
.footer_wrap .cont_footer .footer_info {
  width: 40%;
  color: white;
  padding-right: 1rem;
  top: 0;
}
.footer_wrap .cont_footer .footer_info .logo_footer {
  margin-bottom: 1rem;
}
.footer_wrap .cont_footer .footer_info p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}
.footer_wrap .cont_footer .footer_info .social {
  filter: invert(1);
}
.footer_wrap .cont_footer .footer_info .social img {
  width: 40px;
  padding-left: 0.5rem;
}
.footer_wrap .cont_footer .menu_footer {
  font-family: "Poppins", sans-serif;
  padding-left: 80px;
  width: 60%;
  top: 0;
  display: flex;
}
.footer_wrap .cont_footer .menu_footer .menu_section {
  padding-right: 100px;
}
.footer_wrap .cont_footer .menu_footer .menu_section p {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  padding-bottom: 1.5rem;
  font-family: "Open Sans", sans-serif;
}
.footer_wrap .cont_footer .menu_footer .menu_section ul {
  list-style: none;
}
.footer_wrap .cont_footer .menu_footer .menu_section ul a {
  text-decoration: none;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.315);
}
.footer_wrap .cont_footer .menu_footer .menu_section ul a:hover {
  color: white;
}
.footer_wrap .copyright {
  position: absolute;
  padding: 1rem;
  margin: auto;
  width: 80%;
  height: 100px;
  top: 600px;
  margin-left: 10%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer_wrap .copyright p {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  text-align: center;
  line-height: 25px;
}
.footer_wrap .copyright p .heart {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  -webkit-animation: heart-pulse 1s infinite;
          animation: heart-pulse 1s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.app_section {
  background-color: #eeeef4;
  padding-bottom: 50px;
}
.app_section h3 {
  font-family: "Cabin", sans-serif;
  letter-spacing: 0.02rem;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
}
.app_section p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 18px;
}
.app_section .mobile {
  margin: auto;
  width: 1200px;
  height: 380px;
  border-radius: 20px;
  background-color: white;
  background-image: url("../img/mobile-apps-with-react-native.svg");
  border: 1px solid rgba(160, 184, 196, 0.33);
  background-repeat: no-repeat;
  background-size: 550px;
  background-position: center;
  background-position-x: 900px;
  padding-left: 3rem;
  padding-top: 2rem;
}
.app_section .mobile .frame {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ec454f;
  font-size: 10px;
  width: 120px;
  padding: 0.4rem;
  text-align: center;
  border-radius: 20px;
  color: white;
  margin-bottom: 1rem;
}
.app_section .mobile h2 {
  font-family: "Cabin", sans-serif;
  letter-spacing: 0.02rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.app_section .mobile p {
  color: #606f7b;
  text-align: left;
  width: 700px;
  font-size: 16px;
  margin-bottom: 2rem;
}
.app_section .mobile .symbols {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  margin-bottom: 1.5rem;
}
.app_section .mobile .symbols .item {
  display: flex;
  padding-right: 1rem;
  color: #7e7e7e;
}
.app_section .mobile .symbols .items {
  width: 23px;
  padding-right: 0.5rem;
  color: #b1b5c5;
}
.app_section .mobile .play_series {
  font-family: "Poppins", sans-serif;
  border-radius: 30px;
  padding: 0.5rem;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: rgba(156, 156, 156, 0.19);
}
.app_section .mobile .play {
  width: 16px;
  margin-right: 5px;
}
.app_section .mg-top {
  margin-top: 2rem;
}